<div>
<h2>Please enter your name and your opponent's name<h2>

<form action="/names" method="post">
  Player1 name:<br>
  <input type="text" placeholder="Player 1" name="player1"><br>
  Player2 name:<br>
  <input type="text" placeholder="Player 2" name="player2"><br>
  <input type="submit" value="Submit">
</form>
</div>
