<body>
<div>
<h1 style="color:blue;text-align:center">Welcome to the battle!</h1>
<h3 style="color:red;text-align:center">Join <%= @player1 %> in an epic journey against their nemesis: <%= @player2 %></h3>
</div>
<div style="float:left" width="300">
<section class="Player-one-items">
  <p align ="left"><%= @player1 %> Hit points left: 100</p>
  <img style='border: 3px dashed blue' src='https://assets.pokemon.com/assets/cms2/img/pokedex/detail/151.png' width="200" height="150"><br>
  <form action="/attack">
  <input type="submit" value="Attack">
</form>
  </section>
</div>
<div style="float:right" width="300">
<section class="Player-two-items">
  <p  align ="right"><%= @player2 %> Hit points left: 100</p>
<img style='border: 3px dashed blue' src='https://assets.pokemon.com/assets/cms2/img/pokedex/full/026.png' width="200" height="150"><br>
</section>
</body>
</div>
